@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

:root {
  --color-principal: #a38ae7;
  --color-secundario: #9e8ae77a;
  --fuente-principal: "League Gothic", sans-serif;
  --fuente-secundaria: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--fuente-secundaria);
}

html {
  color-scheme: dark;
  font-size: 12px;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 1rem 9%;
  padding-top: 50px;
  filter: drop-shadow(60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(10px);
}


.logo {
  font-family: var(--fuente-principal);
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--color-principal);
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.2);
}

nav a {
  font-size: 1.7rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease color, 0.3s ease border-bottom;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: var(--color-principal);
  border-bottom: 3px solid var(--color-principal);
}

.menu {
  display: none;
}

section {
  min-height: 100vh;
  padding: 1rem 9% 1rem;
}

.home {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 8rem;
  background-color: black;
}

.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span {
  color: var(--color-principal);
}

.home-content {
  flex: 1;
}

.home-content h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.home-content p {
  font-size: 1.6rem;
}

.home-img {
  border-radius: 50%;
  min-width: 300px;
  width: 30vw;
}

.home-img img {
  width: 100%;
  margin-top: 22px;
  position: relative;
  border-radius: 33px;
  transition: 0.4s linear;
  mask-image: linear-gradient(black 40%, transparent);
  mask-image: linear-gradient(
    transparent 5%,
    rgb(255, 255, 255) 30%,
    transparent 100%
  );
}

.dowload-cv{
  font-family: var(--fuente-secundaria);
  padding: 10px 20px;
  background-color: var(--color-principal);
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px -5px 20px 9px rgba(163,138,231,0.14); 
box-shadow: 0px 10px 13px -7px #000000, 1px -5px 20px 9px rgba(163,138,231,0.14);
}

.dowload-cv:hover{
  background-color: #846cc7;
  box-shadow: none;
}

/*--------------Second sesion--------------------*/

.about{
  display: grid;
  background-color: rgb(19, 18, 18);
  grid-template-columns: repeat(8, 1fr);
  width: 100vw;
  height: 70vh;
  align-items: center;
  gap: 30px
}
.about-info{
  text-align: justify;
  grid-column: 2/6;
  align-items: center;
  font-family: var(--fuente-secundaria);
  font-size: 1.8rem;
}
.about-info h1{
  font-family: var(--fuente-principal);
  color: var(--color-principal);
}

.divider{
  height: 4px;
  width: 14rem;
  background-color: var(--color-principal);
  margin-bottom: 2rem;
}

.about button{
  margin-top: 2rem;
}

.about iframe{
  margin-top: 10%;
  margin-bottom: 10%;
  grid-column: 7/7;
}







/*----------------FOOTER------------------------*/
.footer-section {
  padding: 50px;
  text-align: center;
  background-color: grey;
  color: rgb(0, 0, 0);
  bottom: 0;

  
  
}

@media (max-width: 995px) {
  nav {
    padding: 8px;
    position: absolute;
    top: 100%;
    overflow: hidden;
    right: 16px;
    width: 40%;
    border: 1px solid rgba(255, 231, 231, 0.1);
    border-radius: 2rem;
    padding: 1rem solid;
    background-color: #050505;
    transition: 0.2s ease opacity;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4px);
  }

  .menu {
    display: flex;
  }

  #menu:checked + nav {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    padding: 1rem;
  }

  nav a:hover,
  nav a.active {
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--color-principal);
  }

  .content-about-me {
    height: 100%;
    padding: 4% 7% 4% 7%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .about{
    display: grid;
    background-color: rgb(19, 18, 18);
    grid-template-columns: repeat(2, 2fr);
    width: 100vw;
    height: 90vh;
    align-items: center;
    gap: 10px
  }
  .about-info{
    text-align: center;
    grid-column: 1/1;
    align-items: center;
    font-family: var(--fuente-secundaria);
    font-size: 1.8rem;
  }

  .divider{
    height: 4px;
    width: 14rem;
    background-color: var(--color-principal);
    margin-bottom: 2rem;
  }
  
  .about button{
    margin-top: 2rem;
  }
  
  .about iframe{
    margin-top: 10%;
    margin-bottom: 10%;
    grid-column: 2/1;
  }
  
}
